//========== VARIABLES ==========//
:root{
    --color-pr-oscuro: #2e2e2e;
    --color-sc-oscuro: #3a3a3a;

    --color-pr-amarillo:#f19100;
    --color-sc-amarillo:#d88304;
    --color-tr-amarillo:#f8c47b;

}