//----- Contenedor de ayuda -----//
.ayuda-wrapper {
    width: 100%;
    background-color: #ffffff;
    color: var(--color-sc-oscuro);
    font-size: 12px;


    .main_ayuda{
        
        h3{
            margin: 50px 0;
            font-size: 32px;
            text-align: center;
        }

        .backg_ayuda {
            height: 260px;
            background-image: url(../assets/images/ayuda/img-ayuda.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }

        .ayuda_text-conteiner {
            height: 620px;
            padding: 0 250px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .ayuda-cont{
                width: 100%;
                margin-bottom: 20px;
                padding: 20px 0;
                border-bottom:  1px solid #c2c2c2 ;
            }

            h4{
                font-size: 22px;
                margin-bottom: 10px;
                color: var(--color-sc-amarillo);
            }

            p{
                font-size: 18px;
                font-weight: 300;
            }

            a{
                color: #0e4ec5;
            }
        }

    }
}