//----- Contenedor de contacto -----//
.contacto-wrapper {
    width: 100%;
    background-color: #ffffff;
    color: #ffffff;
    font-size: 12px;

    main {
        height: 900px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        background-image: url(../assets/images/contacto/img-backg-contacto.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;


        form {
            width: 600px;
            height: 760px;
            color: var(--color-pr-amarillo);
            background-color: #000000c0;

            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 12px;


            h3 {
                margin-top: 40px;
                margin-bottom: 15px;
                color: #ffffff;
                font-size: 30px;
            }

            .cont-fm{
                width: 75%;
                display: block;
                color: var(--color-pr-amarillo);
                border-bottom:  2px solid #afafaf ;
                font-size: 16px;
                margin: 15px 0;

                input{
                    width: 100%;
                    top: 50%;
                    height: 40px;
                    margin-top: 10px;
                    font-size: 15px;
                    font-weight: 300;
                    color: #ffffff;
                    background-color: var(--color-pr-oscuro);

                    border: none;
                    outline: none;
                }

                textarea{
                    width: 100%;
                    margin-top: 10px;
                    font-size: 15px;
                    font-weight: 300;
                    resize: none;
                    color: #ffffff;
                    background-color: var(--color-pr-oscuro);

                }
            }

            .boton-ingresar{
                background-color: var(--color-pr-amarillo);
                color: #ffffff;
                text-align: center;
                font-size: 16px;
                width: 75%;
                margin: 22px 0;
                padding: 15px;
                border-radius: 25px;
            }

        }
    }
}