//----- Contenedor de juegos -----//
.juego-wrapper {
    width: 100%;
    background-color: #ffffff;
    color: #ffffff;
    font-size: 12px;

    //--- Extend ---//
    %p-juego {
        display: none;
        width: 35%;
        font-size: 16px;
        padding: 15px;
        font-weight: 300;
    }

    //--- Mixing ---//
    @mixin h4-juego {
        $h4: map-get($headings, h4 );
        text-align: center;
        font-size: $h4;
        padding: 10px;
    }

    .main-juego-conteiner {
        display: flex;
        flex-direction: column;
        align-items: center;

        .section-inicio {
            width: 100%;
            height: 700px;

            display: flex;
            align-items: center;
            justify-content: center;

            background-image: url(../assets/images/juego/img-juego-inicio.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            p {
                width: 27%;
                font-size: 18px;
                padding: 25px;
                font-weight: 400;
                background-color: #00000091;
            }
        }

        .section-clases {
            width: 100%;


            display: flex;
            flex-direction: column;
            align-items: center;

            .clase-espadachin {
                width: 100%;
                height: 300px;

                background-image: url(../assets/images/juego/clases/img-espadachin-oscuro.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .clase-espadachin-back {
                    width: 100%;
                    height: 100%;


                    .clase-espadachin-text {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        h4 {
                            @include h4-juego();
                        }

                        p {
                            @extend %p-juego;
                        }

                    }
                }


                .clase-espadachin-back:hover {
                    width: 99.5%;
                    border: 5px solid #ffffff;
                    background-color: #0000007a;

                    p {
                        display: block;
                    }
                }

            }


            .clase-mago {
                width: 100%;
                height: 300px;


                background-image: url(../assets/images/juego/clases/img-mago-oscuro.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .clase-mago-back {
                    width: 100%;
                    height: 100%;

                    .clase-mago-text {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;


                        h4 {
                            @include h4-juego();
                        }

                        p {
                            @extend %p-juego;
                        }

                    }
                }

                .clase-mago-back:hover {
                    width: 99.5%;
                    border: 5px solid #ffffff;
                    background-color: #00000086;

                    p {
                        display: block;
                    }
                }
            }

            .clase-arquero {
                width: 100%;
                height: 300px;

                background-image: url(../assets/images/juego/clases/img-arquero-oscuro.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;


                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .clase-arquero-back {
                    width: 100%;
                    height: 100%;

                    .clase-arquero-text {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        h4 {
                            @include h4-juego();
                        }

                        p {
                            @extend %p-juego;
                        }

                    }
                }

                .clase-arquero-back:hover {
                    width: 99.5%;
                    border: 5px solid #ffffff;
                    background-color: #0000007a;

                    p {
                        display: block;
                    }
                }
            }
        }

        .section-bosses {
            width: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;

            .boss-inicio {
                width: 100%;
                height: 700px;

                display: flex;
                align-items: center;
                justify-content: center;

                background-image: url(../assets/images/juego/img-juego-bosses-inicio.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

                p {
                    width: 20%;
                    padding: 35px;
                    background-color: #00000080;
                    font-size: 18px;
                }
            }

            .boss-one {
                width: 100%;
                height: 250px;

                background-image: url(../assets/images/juego/img-boss-dragon.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;


                display: flex;
                flex-direction: column;
                align-items: center;

                .boss-one-back {
                    width: 100%;
                    height: 100%;

                    .boss-one-text {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;


                        h4 {
                            @include h4-juego();
                        }

                        p {
                            @extend %p-juego;
                        }
                    }
                }


                .boss-one-back:hover {
                    width: 99.5%;
                    border: 5px solid #ffffff;
                    background-color: #0000007a;

                    p {
                        display: block;
                    }
                }
            }

            .boss-two {
                width: 100%;
                height: 250px;

                background-image: url(../assets/images/juego/img-boss-plex.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;


                display: flex;
                flex-direction: column;
                align-items: center;

                .boss-two-back {
                    width: 100%;
                    height: 100%;

                    .boss-two-text {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        h4 {
                            @include h4-juego();
                        }

                        p {
                            @extend %p-juego;
                        }
                    }
                }

                .boss-two-back:hover {
                    width: 99.5%;
                    border: 5px solid #ffffff;
                    background-color: #0000007a;

                    p {
                        display: block;
                    }
                }
            }

            .boss-three {
                width: 100%;
                height: 250px;

                background-image: url(../assets/images/juego/img-juego-fenix.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;


                display: flex;
                flex-direction: column;
                align-items: center;

                .boss-three-back {
                    width: 100%;
                    height: 100%;

                    .boss-three-text {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        h4 {
                            @include h4-juego();
                        }

                        p {
                            @extend %p-juego;
                        }
                    }
                }

                .boss-three-back:hover {
                    width: 99.5%;
                    border: 5px solid #ffffff;
                    background-color: #0000007a;

                    p {
                        display: block;
                    }
                }
            }
        }
    }

}