//----- Contenedor de juegos -----//
.juego-wrapper {
    width: 100%;
    background-color: #ffffff;
    color: #ffffff;
    font-size: 12px;

    .main-juego-conteiner {
        display: flex;
        flex-direction: column;
        align-items: center;

        .section-inicio {
            width: 100%;
            height: 700px;

            display: flex;
            align-items: center;
            justify-content: center;

            background-image: url(../assets/images/juego/img-juego-inicio.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            p {
                width: 30%;
                padding: 35px;
                background-color: #00000080;
                font-size: 18px;
            }
        }

        .section-clases {
            width: 100%;


            display: flex;
            flex-direction: column;
            align-items: center;

            .clase-espadachin {
                width: 100%;
                height: 300px;

                background-image: url(../assets/images/juego/img-juego-espadachin.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

                display: flex;
                flex-direction: column;
                align-items: center;
    

                h4{
                    margin: 20px 0;
                    text-align: center;
                    font-size: 25px;
                    padding: 15px;
                    background-color: #00000080;
                }

                p{

                }
            }


            .clase-mago{
                width: 100%;
                height: 300px;

                background-image: url(../assets/images/juego/img-juego-mago.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

                
                display: flex;
                flex-direction: column;
                align-items: center;

                h4{
                    margin: 20px 0;
                    text-align: center;
                    font-size: 25px;
                    padding: 15px;
                    background-color: #00000080;
                }
            }

            .clase-arquero{
                width: 100%;
                height: 300px;

                background-image: url(../assets/images/juego/img-juego-arquero.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

                
                display: flex;
                flex-direction: column;
                align-items: center;

                h4{
                    margin: 20px 0;
                    text-align: center;
                    font-size: 25px;
                    padding: 15px;
                    background-color: #00000080;
                }
            }
        }

        .section-bosses{
            width: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;

            .boss-inicio{
                width: 100%;
                height: 700px;

                display: flex;
                align-items: center;
                justify-content: center;

                background-image: url(../assets/images/juego/img-juego-bosses-inicio.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

                p {
                    width: 20%;
                    padding: 35px;
                    background-color: #00000080;
                    font-size: 18px;
                }
            }

            .boss-one{
                width: 100%;
                height: 200px;

                background-image: url(../assets/images/juego/img-boss-dragon.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

                
                display: flex;
                flex-direction: column;
                align-items: center;

                h4{
                    margin: 20px 0;
                    text-align: center;
                    font-size: 25px;
                    padding: 15px;
                    background-color: #00000080;
                }
            }

            .boss-two{
                width: 100%;
                height: 200px;

                background-image: url(../assets/images/juego/img-boss-plex.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

                
                display: flex;
                flex-direction: column;
                align-items: center;

                h4{
                    margin: 20px 0;
                    text-align: center;
                    font-size: 25px;
                    padding: 15px;
                    background-color: #00000080;
                }
            }

            .boss-three{
                width: 100%;
                height: 200px;

                background-image: url(../assets/images/juego/img-juego-fenix.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

                
                display: flex;
                flex-direction: column;
                align-items: center;

                h4{
                    margin: 20px 0;
                    text-align: center;
                    font-size: 25px;
                    padding: 15px;
                    background-color: #00000080;
                }
            }
        }
    }

}