//========== NAV ==========//

nav {
    height: 58px;
    background-color: #2a2a2a;

    display: flex;
    align-items: center;
    justify-content: space-between;

    }

    /* Logos Medieval Sword */
    .logoSword {
        width: 11px;
        margin-left: 25px;
    }

    .logoString {
        width: 170px;
        padding: 19px 20px;
    }

    /* Nav list */
    .link_nav {
        color: #ffffffb4;
        letter-spacing: 0.4px;
        padding: 22px 30px;

        &:hover {
            color: #ffffff;
        }
    }

    .nav_listMain {
        display: flex;
        flex: 1;
    }

    .nav_listRight {
        display: flex;

        /* boton jugar */
        .nav_listRight-btnJugar {
            background-color: #f19100;
            color: #000000;
            padding: 22px 48px;

            &:hover {
                color: #ffffff;
            }
        }
    }

    /* Menu Hamburguesa */
    .nav_listMain_mobile {
        display: none;
    }

    #check {
        display: none;
    }

    .check-btn img{ 
        display: none;
        width: 30px;
    }


