//----- Contenedor de noticias -----//
.noticias-wrapper{
    width: 100%;
    background-color: #ffffff;
    color: var(--color-sc-oscuro);
    font-size: 12px;

    main{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;


        .main-noticias_conteiner {
            width: 70%;
            h2{
                $h2: map-get($headings, h2 );
                margin: 50px 0;
                font-size: $h2;
                font-weight: 900;
                text-align: center;
            }

            .noticia-principal {
                margin-bottom: 40px;
                img{
                    width: 100%;
                    height: 500px;
                }
            }

            .noticias-segundarias{
                margin: 50px 0;
                display: grid;
                grid-template-columns: repeat(4, 1fr)

            }

            .noticias-terciarias{
                display: grid;
                grid-template-columns: 40% 60%;
            }

            .noticias-cuaternarias{
                margin: 50px 0;
                display: grid;
                grid-template-columns: repeat(4, 1fr)
            }
        }

    }


}